django_ratelimit
git+https://github.com/dadaWilliam/django-chunked-upload.git
Django==4.2.8
sorl-thumbnail
pillow
django-filter
djangorestframework==3.14
djangorestframework-simplejwt
coreapi
django-user-visit
django-notifications-hq
git+https://github.com/dadaWilliam/django-top-notify.git

qrcode
django-ckeditor