<!--- 模态框 -->
<div class="ui tiny modal verification">
    <div class="header">
        <i class="exclamation triangle icon"></i>注意
    </div>
    <div class="image content">
        <div class="description">
            确认 <span style="color: red;"> <b>手动解除</b></span> 此次 <span style="color: orange;"><b>验证</b></span> ？
        </div>
    </div>
    <div class="actions">
        <div class="ui primary approve button">确认</div>
        <div class="ui deny button">取消</div>
    </div>
</div>

<div class="ui basic modal agreement">
    <div class="ui icon header">
      <i class="file alternate icon"></i>
      学霸空间《管理条例》及《隐私政策》
    </div>
    <div class="content">
      <p> 学霸空间 可能会收集和使用与您有关的信息，包括（但不限于）以下各类信息：</p>
      <p>(a)身份资料（如姓名、用户名、手机号码、email）；
      (b)档案信息（如性别、居住国、语言以及您希望公开的用户信息）；
      (c)电子身份资料（例如IP地址、cookie）；</p>
      <p>在未经您明确许可的情况下，学霸空间不会向第三方出售、出租、交易或以其它方式转让任何个人和/或流量资料或通讯内容。</p>
      <p>请注意，您在用户档案中自愿公开的信息，或您在讨论区透露的信息，或您通过发表评论透露的信息都将成为公开信息，其他人都可以查看。为遵守法律要求、行使我们的法律权利或抗辩法律诉求、保护学霸空间以及用户的利益、打击欺诈行为、执行我们的政策或保护任何人的权利、财产或安全，学霸空间可能会透露个人信息。</p>
      <p>最终解释权归学霸空间所有</p>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        不同意
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        同意
      </div>
    </div>
  </div>

  <!--- 模态框 -->
<div class="ui qrcode tiny modal ">
    <div class="header">
        <i class="exclamation triangle icon"></i>注意
    </div>
    <div class="image content">
        <img class= "image" id="qrcode" src="">
        <!-- <svg id="qrcode"  width="100" height="100" ></svg> -->
        <div class="description">
            请<span style="color: seagreen;"> <b> 使用学霸空间 APP </b> </span> 扫描 <span style="color: plum;"><b> 二维码 </b></span>并输入<span style="color: blue;"><b> 验证码 </b></span>!
        <p>剩余 <span style="color: orangered;"><b><span id="minutes"></span>分 <span id="seconds"></span>秒</b></span>,  倒计时结束后，二维码失效!</p>
        <p>
            <div class="ui action fluid input" style="text-align: center;">
          <input type="text" id="verification-code" placeholder="请输入 验证码">
          <button class="ui teal verify qrcode button" onclick="window.location.href = '/users/scan-login/?verification=' + encodeURIComponent(document.getElementById('verification-code').value) + '&next=/'">验证</button>
        </div>
    </p>
</div>
</div>


        

  
    <!-- <div>
      <p><span id="minutes"></span>分 <span id="seconds"></span>秒</p>
    </div> -->

    <div class="actions">
        <div class="ui primary approve button">关闭</div>
        <!-- <div class="ui deny button">取消</div> -->
    </div>
</div>


