{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=no">
    <meta name="referrer" content="always">
    <title>登录</title>
    <!-- <link rel="icon" href="https://edu.iamdada.xyz/static/img/favicon.ico" type="image/x-icon">
    <link rel="Bookmark" href="https://edu.iamdada.xyz/static/img/favicon.ico" /> 
    <link rel="shortcut icon" href="https://edu.iamdada.xyz/static/img/favicon.ico" type="image/x-icon" />  -->
    <!-- <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="Bookmark" href="{% static 'img/favicon.ico' %}" />  -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" /> 
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="https://cdn.staticfile.org/jquery/1.9.0/jquery.min.js"></script>
</head>
<body id="v-account-body" >
<div class="ui middle aligned center aligned grid">
    <div class="column v-account">
        <h2 class="ui teal image header">
            <img src="{% static 'img/logo.png' %}" class="image">
            <div class="content">
                登录账户
            </div>
        </h2>
        
        <form class="ui large form" novalidate method="post" action="{% url 'users:login' %}"
              enctype="multipart/form-data" onsubmit="return check();">
            {% csrf_token %}
             
            <div class="ui unstacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{form.username}}
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{form.password}}
                    </div>
                </div>
                <div class="field">
                    <a class=" ui basic fluid large teal button" id="clickBtn">
                    <span id="locked"><i class="lock icon"></i>点击进行解锁</span>
                    <span id="unlocked" style="display: none;"><i class="lock open icon"></i>解锁成功</span>

                </a>
                    
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="field">
                    <button class="ui fluid large teal submit button" type="submit" id="button" disabled>密码登录</button>
                </div>

                
                <div class="field" style="text-align: left; ">
                    <div class="ui checked checkbox">
                    <input type="checkbox" checked="" id="agreement">
                    <label>已阅读并同意<a class="agreement-show">《管理条例》</a>和<a class="agreement-show">《隐私政策》</a></label>
                    </div>
                </div>


            </div>
            {% include "base/form_errors.html" %}
            {% include "base/form_messages.html" %}
        </form>

                    <div class="sliderModel">
                        <div class="cont">
                            <div id="closeBtn">
                                <a class="circular mini ui icon red button">
                                      <i class="close icon"></i>
                                </a>
                            </div>
                            <div class="title">拼图验证</div>
                            <div id="sliderRefresh">
                               <a class="circular mini ui icon blue button">
                                      <i class="redo alternate icon"></i>
                                </a>
                            </div>
                            <div class="imgWrap" id="imgWrap">
                                <img class="img" src="" />
                                <div class="sliderOver" id="sliderOver"></div>
                                <div class="smartImg" id="smartImg">
                                    <img class="simg" src="" />
                                </div>
                            </div>
                            <div class="sliderBox">
                                <div class="sliderF" id="slider">
                                    <a class="circular ui icon teal button sliderS" id="sliderBtn">
                                      <span id=verifing><i class="angle double right icon"></i></span>
                                      <span id=verified style="display: none;"><i class="check icon"></i></span>
                                    </a>
                                    
                                </div>
                                <div class="bgC">
                                    请拖动左边滑块完成上方拼图
                                    <div class="bgC_left" id="bgC_left"></div>
                                </div>
                            </div>
                            <div class="showMessage">
                            </div>
                        </div>
                        
                    </div>
        
        <div class="ui message">
            <div class="field">
                    <button class="ui fluid large orange scan button" >扫码登录</button>
                </div>
        </div>
        <div class="ui message">
            
            <div> 无法验证？
                <a class=" mini ui red button verification-delete">
                    <i class="user md icon"></i><span id="random">点我试试</span>
                </a>
            </div>
            <div></div>
          
            <div>  没有 APP？
                <a class=" mini ui green button" href="{% url 'download'  %}">
                   <i class="download md icon"></i>点我下载 
                </a>
            </div>
              <div>  
                <i class="copyright outline icon"></i>学霸空间 
            </div>
            
            <!-- <div>没有账号？<a href="{% url 'users:signup' %}">注册(暂不开放）</a></div> -->
        </div>
    </div>
</div>
{% include "registration/login_modal.html" %}
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>
<script>    
    var object = {
        bImg: 'imgWrap',
        sImg: 'smartImg',
        sImgOver: 'sliderOver',
        sliderF: 'slider',
        sliderBtn: 'sliderBtn',
        sliderBg: 'bgC_left',
        refreshBtn: 'sliderRefresh',
        range: 5,
        // imgArr: ['https://picsum.photos/300/150/?image='+getRandomNumberByRange(0,100),
            
        // ],
        refreshCallback: function (e) {
            var showMessage = document.getElementsByClassName('showMessage')[0];
            showMessage.innerHTML = "<i class='copyright outline icon'></i>学霸空间 ";
            showMessage.style.color = "#333";
        },
        callback: function (e) {
            var showMessage = document.getElementsByClassName('showMessage')[0];
            if (!e) {
                showMessage.innerHTML = "验证失败，请重新验证！";
                document.getElementById("button").setAttribute("disabled", true);

                showMessage.style.color = "red";
                 setTimeout(function () {
                      let click = document.getElementById("sliderRefresh");
                        click.click();
                    }, 1000);
               
            } else {
                document.getElementById('verified').style.display = "inline-block";
                document.getElementById('verifing').style.display = "none";
                showMessage.innerHTML = "验证成功！弹窗将在 2s 内关闭！";
                showMessage.style.color = "green";
                document.getElementById('unlocked').style.display = "block";
                document.getElementById('locked').style.display = "none";
    
                document.getElementById("button").removeAttribute("disabled");
                setTimeout(function () {
                      document.getElementsByClassName('sliderModel')[0].style.display = "none";
                    }, 1500);
            }
        },
    }
    var mSlider = null;
        document.getElementById('clickBtn').onclick = function () {
        if ($("#agreement").is(':checked') && document.getElementById('unlocked').style.display == "none"){
            document.getElementsByClassName('sliderModel')[0].style.display = "flex";
            
            mSlider = new window.mobileSlider(object);
        }
        else if(document.getElementById('locked').style.display == "none"){
            alert("已成功解锁，请勿重复验证！");
        }
        else{
            alert("请阅读并同意《管理条例》和《隐私政策》！");
        }
    }
    document.getElementById('closeBtn').onclick = function () {
        document.getElementsByClassName('sliderModel')[0].style.display = "none";
    }
function check(){
        if ($("#agreement").is(':checked')){
            return true;
        }
        else{
            alert("请阅读并同意《管理条例》和《隐私政策》！");
            return false;
            }
        }

</script>

</body>
</html>