{% load static %}

<div class="ui vertical footer segment " style="display: none; z-index:-2">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="{% static 'img/logo.png' %}" class="ui centered mini image">
        <div class="ui horizontal   small divided link list">
            <a class="item" href="#">William & Match</a>
            <a class="item" href="#">联系我们</a>
            <a class="item" href="#">~啦啦啦~</a>
        </div>
    </div>
</div>