{% load static %}

<div class="ui vertical footer segment " style="display: none;">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="{% static 'img/logo.png' %}" class="ui centered mini image">
        <div class="ui horizontal   small divided link list">
            <a class="item" href="/article/detail/1"> <i class="copyright outline icon"></i>xueba.ca</a>
            <a class="item" href="/article/detail/1"> by William & Match</a>
            <a class="item" href="/article/detail/1"> contact us 欢迎联系我们 ～</a>
        </div>
    </div>
</div>