{% load static %}
{% load thumbnail %}
<!-- 引入notifications的模板标签 -->
{% load notifications_tags %}
{% notifications_unread as unread_count %}

<link rel="stylesheet" href="{% static 'css/notification-top-bar.css' %}">

    <div class="notification-top-bar-container" style="height:40px; ">
        <p style="text-align: center; padding-top: 10px;">学霸空间顶部通知栏</p>
        <div class="notification-top-bar" style="display: none;">
            <p></p>
        </div>
    </div>
    
    <script src="https://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/notification-top-bar.js' %}"></script>
    <script>
        $(function () {
            const url = "{% url 'django_top_notify:latest_system_notification' %}";
            get_latest_system_notification(url);
        })
    </script>
<div class="ui menu" style="margin-top: 0;">
    <div class="ui container">
        <a href="/" class="borderless header item">
            <img class="logo" src="{% static 'img/logo.png' %}">
            学霸空间
        </a>
        
        <div class="v-header-extra">
            <div class="ui  small action input v-video-search" data-tooltip="输入内容搜索" data-position="bottom center" ;>
                <input class="prompt" value="{{ q }}" type="text" placeholder="搜索" id="v-search"  >
                 <button class="ui icon teal button" id="search">
                    <i class="search icon"></i>
                  </button>
                <!-- <button id="search" class="search icon" style="cursor:pointer;"></button> -->
            </div>
            {% if user.is_authenticated %}
            <div class="ui dropdown" id="v-header-avatar" >
                <div class="" style="font-weight:bold;">
                    {% thumbnail user.avatar "200x200" crop="center" as im %}
                    <img class="ui avatar image" src="{{ im.url }}">
                    {% empty %}
                    <img class="ui avatar image" src="{% static 'img/img_default_avatar.png' %}">
                    {% endthumbnail %}
                    <!-- 新增代码，小红点 -->
                    {% if unread_count %}
                        <svg viewBox="0 0 8 8"
                            width="8px"
                            height="8px">
                            <circle cx="4"
                                    cy="4"
                                    r="4"
                                    fill="#ff6b6b"
                                    ></circle>
                        </svg>
                    {% endif %}
                    {{ user.username }}<i class="dropdown icon" style="margin-right:8"></i>
                    
                </div>
                
                <div class="menu" >
                    <div class="item" onclick="window.location='{% url 'notice:list' %}';">
                        <i class="bell icon"></i>
                        <span>通知消息</span>
                            {% if unread_count %}
                            <span>
                                <a class="floating ui tiny red label">{{ unread_count }}</a>
                                
                            </span>
                            {% endif %}
                        
                    </div>

                    <div class="item" onclick="window.location='{% url 'users:profile' user.pk %}';">
                        <i class="user icon"></i>
                        <span>个人资料</span>
                    </div>
                    <div class="item" onclick="window.location='{% url 'users:collect_videos' user.pk %}';">
                        <i class="bookmark icon"></i>
                        <span>我的收藏</span>
                    </div>
                    <div class="item" onclick="window.location='{% url 'users:like_videos' user.pk %}';">
                        <i class="heart icon"></i>
                        <span>我的点赞</span>
                    </div>
                    <div class="item" onclick="window.location='{% url 'history' %}';">
                        <i class="history icon"></i>
                        <span>历史记录</span>
                    </div>
                    <div class="item" onclick="window.location='/article';">
                        <i class="file icon"></i>
                        <span>文章中心</span>
                    </div>
                    <div class="item" onclick="window.location='/file';">
                        <i class="folder open icon"></i>
                        <span>文件中心</span>
                    </div>
                    <div class="item" onclick="window.location='/download';">
                        <i class="download icon"></i>
                        <span>应用下载</span>
                    </div>
                    <div class="item" onclick="window.location='/users/feedback/';">
                        <i class="paper plane icon"></i>
                        <span>反馈</span>
                    </div>
                    
                    <div class="item" onclick="window.location='{% url 'users:logout' %}';">
                        <i class="sign-out icon"></i>
                        <span>退出</span>
                    </div>
                    {% if user.is_superuser %}
                    <div class="item" onclick="window.location='{% url 'myadmin:index'  %}';">
                        <i class="archive icon"></i>
                        <span>后台管理</span>
                    </div>
                    <div class="item" onclick="window.location='/admin' ">
                        <i class="bug icon"></i>
                        <span>Django </span>
                    </div>
                    <div class="item" onclick="window.location='/api';">
                        <i class="file code icon"></i>
                        <span>API 接口</span>
                    </div>
                    <div class="item" onclick="window.location='/docs';">
                        <i class="file alternate icon"></i>
                        <span>API 文档</span>
                    </div>
                    
                    {% endif %}
                    
                </div>
            </div>
            {% else %}
            <a class="ui tiny secondary basic button" id="v-header-login" href="{% url 'users:login' %}?next={{ request.path }}">登录</a>
            {% endif %}

        </div>
    </div>
</div>
<style>
    .ui.floating.label{
         margin: 0 0 0 -2em!important;
         
     }
 </style>