body{
    height: 100vh;
    /* 弹性布局 居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 背景 */
    background: #e6e5df;
    /* 溢出隐藏 */
    overflow: hidden;
}

.sliderModel {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            z-index: 1;
        }

        .title {
            width: 100%;
            height: 60px;
            font-size: 18px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cont {
            position: relative;
            background: #fff;
            width: 300px;
            border-radius: 8px;
            overflow: hidden;
            padding-bottom: 20px;
        }

        .imgWrap {
            position: relative;
            width: 280px;
            height: 150px;
            border-radius: 8px;
            margin: 0 auto;
            overflow: hidden;
        }

        #sliderRefresh {
            position: absolute;
            top: 20px;
            right: 30px;
            cursor: pointer;
            color: green;

        }

        .img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .sliderOver {
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background: #ddd;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .smartImg {
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            overflow: hidden;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .simg {
            position: absolute;
            display: block;
            width: 280px;
            height: 150px;
        }

        .sliderBox {
            width: 280px;
            margin: 10px auto 0;
            height: 36px;
            position: relative;
        }

        .sliderF {
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        .sliderS {
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            height: 36px;
            width: 36px;
            background: #007cff;
            border-radius: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*.icon {
            width: 20px;
            height: 20px;

        }*/


        .bgC {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 30px;
            border-radius: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #999999;
            box-shadow: inset 0 0 4px #ccc;
            text-align: center;
            overflow: hidden;
        }

        .bgC_left {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 28px;
            border-top-left-radius: 28px;
            border-bottom-left-radius: 28px;
            line-height: 28px;
            font-size: 14px;
            background-color: #eee;
            box-shadow: inset 0 0 4px #ccc;
            text-align: center;
        }


        .showMessage {
            text-align: center;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
        }

        #closeBtn {
            position: absolute;
            top: 20px;
            left: 30px;
            cursor: pointer;
            color: red;
        }
