{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% load video_tag %}

{% block content %}
<!-- 引入notifications的模板标签 -->
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<div class="main">
    
    <h3 class="ui header">消息通知
        {% if unread_count %}                                  
        <a class="ui tiny red label">{{ unread_count }}</a>
        <a class="ui mini red button" href="{% url 'notice:update' %}" style="float:right ;">全部已读</a>
        {% else %}
        <a class="ui green label">暂无</a>
        {% endif %}
        <a class="ui teal label">按照时间排序</a>
    </h3>

    <div class="ui unstackable items">
        {% for notice in notices %}
        <div class="item">
            {% if notice.unread %}
            <div class="ui tiny image">
                {% thumbnail notice.target.cover "300x200" crop="center" as im %}
                <img class="ui image" src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}
            </div>
            <div class="middle aligned content"> 
                {% if notice.target %}
                    <a class="header" href="{% url 'notice:update' %}?video_id={{ notice.target.id }}&notice_id={{ notice.id }}" >
                        {% if user.is_superuser %} {{ notice.actor }} {% else %} 管理员 {% endif %}
                        {{ notice.verb }}
                        <p>{{ notice.target.title }}</p>
                        
                        </a>
                    <span style="float:right;">
                        <a class="ui icon tiny blue button " href="{% url 'notice:update' %}?video_id={{ notice.target.id }}&notice_id={{ notice.id }}" ><i class="eye icon"></i></a>
                    </span>
                {% else %}
                    <h4>“你似乎来到了没有知识存在的荒原...”</h4>
                    <a class="ui tiny pink button " href="#" ><i class="trash alternate outline icon"></i>此视频不见啦</a>
                {% endif %}
                <div>
                    {{ notice.timestamp|naturaltime }}
                </div>
            </div>
            {% else %}
            <div class="ui tiny image">
                {% thumbnail notice.target.cover "300x200" crop="center" as im %}
                <img class="ui image" src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}
            </div>
            <div class="middle aligned content"> 
                {% if notice.target %}
                    <a class="header" href="{% url 'notice:update' %}?video_id={{ notice.target.id }}&notice_id={{ notice.id }}" style="color: grey;">
                        已完成{% if user.is_superuser %} {{ notice.actor }} {% else %} 管理员 {% endif %} {{ notice.verb }}的
                        <p>{{ notice.target.title }}</p>
                        </a>
                    <span style="float:right;">
                        <a class="ui icon tiny orange button " href="{% url 'notice:update' %}?video_id={{ notice.target.id }}&notice_id={{ notice.id }}" ><i class="trophy icon"></i>
                        </a>
                    </span>
                    <div>
                        {{ notice.timestamp|date:"Y/m/d H:i" }}
                    </div>
                {% else %}
                    <h4>“你似乎来到了没有知识存在的荒原...”</h4>
                    <a class="ui tiny pink button " href="#" ><i class="eye slash icon"></i>此视频不见啦</a>
                {% endif %}
            </div>
            {% endif %}



       </div>
        {% empty %}
           <h3>暂无通知</h3>
        {% endfor %}
        
    </div>
</div>

{% include "base/page_nav.html" %}

{% endblock content %}
{% block javascript %}
<script  type="text/javascript" >
$('.ui .dropdown').dropdown();
</script>
{% endblock javascript %}

    