{% load static %}
<p style="text-align: center;">
    <a target="_blank" href="#">
        <img src="{% static 'img/img_ad_banner.jpg' %}">
    </a>
    <style>
        img{
            width: 100%;
        }
    </style>
</p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1766518321149704"
     crossorigin="anonymous"></script>
<!-- detail -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1766518321149704"
     data-ad-slot="9168974396"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

