{% extends 'base/base.html' %}
{% load static %}
{% load video_tag %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dropload.css' %}">
{% endblock css %}

{% block content %}
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1766518321149704" crossorigin="anonymous"></script> -->
<div class="loading-div">
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header">稍等 </div>
          <p>正在为您加载视频内容...</p>
        </div>
      </div>
</div>
<style>
.main{
	display: none;
}
.loading-div {
    width: 1800px;
    height: 720px;
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    color: #555;
    overflow: hidden;
    text-align: center;
    
  }
  .loading-div::before {
    display: inline-block;
    vertical-align: middle;
  } 
</style>
<script src="https://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<script>
    document.onreadystatechange = function () {
    if (document.readyState == "complete") {    
        $(".loading-div").hide();
        $('body').css('overflow','scroll');
        $('.main').fadeIn(); 
       
    }
  }
</script>
<div class="main">

<div class="ui grid">
    <div class=" sixteen wide mobile sixteen wide tablet ten wide computer column  ">
        <video class="video" autoplay="autoplay"  controls="controls" controlslist="nodownload" disablePictureInPicture>
            <source src="{{video.file.url}}" type="video/mp4">
        </video>
        
        <div class="video-info">
            <div class="video-title">{{ video.title }}</div>
            <div class="video-view-count">{{ video.view_count }}次观看</div>
            <div class="video-view-operation">
                {{video.desc}}
            </div>
            <div class="extra content video-view-operation">

                <div class="ui labeled button"   tabindex="0">
                    <div class="ui {%  user_liked_class video user %} button" id="like" video-id="{{ video.id }}">
                      <i class="heart icon"></i> 
                      点赞
                    </div>
                    <a class="ui basic {%  user_liked_class video user %} left pointing label" id="like-count">
                        <span>{{ video.count_likers }}</span>
                    </a>
                  </div>
                  

                  <div class="ui labeled button"   tabindex="0">
                    <div class="ui {%  user_collected_class video user %}  button" id="star" video-id="{{ video.id }}">
                      <i class="bookmark icon"></i> 
                      收藏
                    </div>
                    <a class="ui basic {%  user_collected_class video user %} left pointing label" id="collect-count">
                        <span>{{ video.count_collecters }}</span>
                    </a>
                  </div>

                <!-- <span class="left floated like">
                    <i class="like {%  user_liked_class video user %} icon cursor" id="like"
                       video-id="{{ video.id }}"></i>
                    <span id="like-count">{{ video.count_likers }}</span>
                </span> -->
                <!-- <span class="right floated star">
                    <i class="bookmark {%  user_collected_class video user %}  icon cursor" id="star"
                       video-id="{{ video.id }}"></i>
                    <span id="collect-count">{{ video.count_collecters }}</span>
                </span> -->
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="ui comments">
            {% if user.is_authenticated %}
            <form class="ui reply form" id="comment_form" method="post"
                  action="{% url 'comment:submit_comment' video.pk %}">
                {% csrf_token %}
                <div class="field">
                    {{form.content}}
                    <input type="hidden" value="{{ video.id }}" name="video_id">
                </div>
                <button class="ui primary button" type="submit">
                    添加评论
                </button>
                <div class="ui info message n">
                    <div class="item" id="comment-result"></div>
                </div>
            </form>
            {% else %}
            <div class="ui ignored info attached message">
                <p>登录后即可评论 &nbsp;&nbsp;&nbsp;<a href="{% url 'users:login' %}?next={{ request.path }}">马上登录</a></p>
            </div>
            {% endif %}
            <h3 class="ui dividing header" id="id_comment_label">评论</h3>
            <div class="comment-list"></div>
        </div>
    </div>
    <div class="sixteen wide mobile sixteen wide tablet six wide computer column ">
        {% include "video/recommend.html" %}
        {% include "video/ad.html" %}
    </div>
</div>
</div>
{% endblock content %}

{% block javascript %}

<script>
var comments_url = "{% url 'comment:get_comments' %}"
var video_id = {{ video.id }}
</script>

<script src="{% static 'js/dropload.js' %}"></script>
<script src="{% static 'js/load_comments.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>

<script type="text/javascript">
    watermark({"watermark_txt":" {{user.username}} "});
</script>

{% endblock javascript %}

