{% extends 'base/base.html' %}
{% load static %}
{% load thumbnail %}
{% load video_tag %}
{% load tctip_tags %}

{% block content %}

<div class="loading-div">
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header">稍等 </div>
          <p>正在为您获取内容...</p>
        </div>
      </div>
   
</div>
<style>
.main{
		       display: none;
		}
.loading-div {
    width: 1800px;
    height: 720px;
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    color: #555;
    overflow: hidden;
    text-align: center;
  }
  .loading-div::before {
    display: inline-block;
    vertical-align: middle;
  } 
  .footer{
      display: none;
  }
</style>
<script src="https://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<script>
    document.onreadystatechange = function () {
    if (document.readyState == "complete") {    
        $(".loading-div").hide();
        $('body').css('overflow','scroll');
        $('.main').fadeIn(500); 
        $('.page_nav').fadeIn(500);
    }
  }
</script>

<div class="main">
    {% load_tctip %}
    <div class="classification">
        <a class="ui {% if c %}{% else %}red{% endif %} label" href="{% url 'home' %}">全部</a>
        {% for item in classification_list %}
        <a class="ui {% if c == item.id|stringformat:'s' %}red{% endif %} unstackable label" href="?c={{ item.id }}" >{{ item.title }}</a>
        {% endfor %}
    </div>
    <style>
        a.ui.label{
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    </style>
   

    <div class="ui orange message " >
        <i class="close icon"></i>
        <div class="header" style="text-align: center;">
            <h>
                <a class="ui teal label">学霸空间</a>
            </h>
        </div>
        <p style="text-align: center;">欢迎 <span style="color: brown ;">{{user.username}}</span> 来到学霸空间！</p>
        <!-- <p><a class="ui red label">新功能</a> 点赞👍, 收藏😍, 历史记录🤔</p>
        <p><a class="ui blue label">新布局</a> 首页布局已优化</p> -->
        <!-- <p>🚩账户过期时间: {% if user.expire %}<a class="ui orange label">{{user.expire|date:'Y-m-d H:i'}}</a>{% else %}<a class="ui teal label">永久有效</a>{% endif %} 🐛 </p> -->
        <!-- <p><a class="ui green label"> 2022.7.9</a>APP(android+ios)开发中🐛 </p> -->
        <!-- <div class="ui red progress" id="ios">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">ios</div>
        </div>
        <div class="ui yellow progress" id="android">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">android</div>
        </div> -->
        <script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
        <script>
            <!-- // $('#ios').progress({
            //     percent: 30
            // });
            // $('#android').progress({
            //     percent: 70
            // });
            $('.message .close').
                click(function () {
                    $(this).
                    closest('.message').
                    transition('fly');
                }); 
        </script>
    </div> 
</br>
<div class="ui grid">
    {% for item in video_list %}
    <div class="eight wide mobile four wide tablet four wide computer column">
        <div class="ui card">
            <a class="image" href="{% url 'video:detail' item.pk %}">
                {% thumbnail item.cover "300x200" crop="center" as im %}
                <img class="ui image" src="{{ im.url }}">
                {% empty %}
                {% endthumbnail %}
                <i class="large play icon v-play-icon"></i>
            </a>
            <div class="content">
                <a class="header" href="{% url 'video:detail' item.pk %}" style="text-align: center;">{{ item.title }}</a>
                <div class="meta" style="text-align: center;">
                    <span class="date">发布于{{ item.create_time|time_since}}</span>
                </div>
                <div class="description" style="text-align: center;">
                    {{ item.view_count}}次观看
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div></div>
    <h3>暂无数据</h3>
    {% endfor %}
</div>
</div>
<div class="page_nav">
    {% include "base/page_nav.html" %}
</div>
{% endblock content %}
