{% extends 'myadmin/base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div class="ui grid">
    <div class="row">
        <h3>文章添加</h3>
    </div>
    <div class="ui divider"></div>
    <div class="row">
        <div class="v-form-wrap">
            {% include "base/form_errors.html" %}
            {% include "base/form_messages.html" %}
            <form class="ui form" novalidate method="post" action="{% url 'myadmin:article_add' %}" enctype="multipart/form-data" role="form">
                {% csrf_token %}
               <input name="article_id" id="article_id" type="hidden">
                
                <div class="field">
                    <label>文章标题
                    
                    </label>
                    {{ form.title }}

                </div>
                
                <div class="field">
                    <label>文章描述</label>
                    {{ form.desc }}
                </div>
                 <div class="field">
                    <label>文章内容</label>
                    {{ form.media }}
                    {{ form.body }}
                </div>
                

                 <div class="field">
                    <label>发布状态</label>
                    <div class="ui selection  dropdown">
                        {{form.status}}
                        <i class="dropdown icon"></i>
                        <div class="default text">请选择</div>
                        <div class="menu">
                            <div class="item" data-value="0">发布</div>
                            <div class="item" data-value="1">取消发布</div>
                        </div>
                    </div>
                </div>
                
                <div class="field">
                    <label>文章封面</label>
                    <div class="v-form-field">
                        <label class="ui large basic blue label" for="id_cover">
                            <i class="upload icon"></i> 上传封面
                             {{form.cover}}
                        </label>
                        <span id="file_is_choose" class="n">文件已选择</span>
                    </div>
                </div>
                <div class="field">
                     <div class="ui checkbox">
                      {{form.vip}}
                      <label>是否 VIP 内容</label>
                    </div>
                    
                </div>
               
               
            
                <button class="ui primary button" type="submit">添加</button>



            </form>


        </div>
    </div>
</div>


{% endblock content %}
{% block javascript %}

<script>
$(function(){

    $('.ui .dropdown').dropdown();
    $("#id_cover").change(function(){
        $("#file_is_choose").show()
    });


});
</script>

{% endblock javascript %}

